* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lucida Grande', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(255, 249, 242);
    min-width: 360px;
    overflow-x: hidden;
}


/*Conteúdo do cabeçalho*/
header {
    box-sizing: border-box;
    height: 200px;
    background-color: #262318;
}

#mobile-menu {
    display: none;
}

nav {
    padding-top: 40px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

nav li, footer li {
    display: inline;
    color: #a86e14;
    text-transform: uppercase;
    padding: 0 10px;
    font-size: 0.8em;
}

a {
    text-decoration: none;
}

li:hover {
    color: #d7932e;
}
/*Fim do conteúdo do cabeçalho*/


/*Conteúdo principal*/
main {
    width: 80%;
    margin: auto;
    margin-top: -100px;

    display: flex;
    justify-content: space-between;
}

section {
    width: 65%;
}

article {
    margin: 10px auto;
    padding: 15px;
    box-sizing: border-box;
    width: 50%;
}

.main-conteudo {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main-conteudo article {
    margin: 0;
}

.main-conteudo h4 {
    color: rgb(64, 139, 64);
    text-transform: uppercase;
    margin: 10px 0;
    margin-top: 15px;
}

.main-conteudo h5 {
    color: rgb(64, 139, 64);
    text-transform: uppercase;
    font-size: 1em;
    margin-bottom: 15px;
}

.main-conteudo ul {
    list-style: disc;
    padding-left: 35px;
}

.main-conteudo a {
    text-transform: capitalize;
    color: #996313;
    display: block;
    padding-bottom: 5px;
}

.main-conteudo a:hover {
    color: #d7932e;
}

#museu, #arte {
    width: 100%;
    object-fit: cover;
    height: 350px;
}
/*Fim do onteúdo principal*/


/*Conteúdo lateral*/
aside {
    width: 33%;
}

aside article {
    width: 100%;
}

#visita {
    background-color: #f1e3cd;
}

#visita p {
    margin: 15px 0;
}

aside h4 {
    color: #a86e14;
    text-transform: uppercase;
}

#num-pessoas {
    width: 40px;
    object-position: right top;
}

#disponibilidade {
    border: none;
    border-radius: 2px;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    background-color: #b8a589;
    color: #ffffff;
    transition: all 0.06s ease-in-out;
}

#disponibilidade:hover {
    background-color: #baa98c;
}

#disponibilidade:active {
    transform: translateY(2px);
    background-color: #ac997d;
}

#galeria {
    padding: 0;
}

#titulo-galeria {
    text-align: center;
    padding-top: 15px;
    background-color: #ebe1d5;
}

#fotos-galeria {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    background-color: #ebe1d5;
}

#fotos-galeria a {
    background: url(../assets/fundo-foto.png) no-repeat;
    padding: 17px;
    margin: 10px;
}
/*Fim do conteúdo lateral*/


/*Cabeçalho*/
footer {
    text-align: center;
}

footer small {
    line-height: 40px;
    color: rgb(47, 47, 47);
}
/*Fim do cabeçalho*/



@media (max-width: 1024px) {
    :root {
        font-size: 0.9em;
    }

    body {
        overflow-x: hidden;
    }

    nav {
        width: 100%;
        justify-content: space-between;
        padding-top: 35px;
        position: fixed;
        background-color: #262318;
        height: 80px;
        box-sizing: border-box;
    }

    nav figure:nth-child(1) {
        padding: 0 6%;
    }

    #mobile-menu {
        cursor: pointer;
        display: block;
        margin-top: -5px;
        height: 0;
        padding: 0 20px;
    }
    
    #mobile-menu div {
        width: 28px;
        height: 2px;
        background-color: #a86e14;
        margin: 6px;
    }

    .lista {
        position: absolute;
        transform: translateX(100%);
        transition: transform 0.2s ease-in-out;

        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 40px;

        margin-top: 35px;
        padding-top: 25px;
        padding-right: 20px;
        width: 130px;
        right: 0;
        height: 100vh;
        
        background-color: rgba(39,34,23,255);
    }

    .ativo .lista {
        transform: translateX(0);
        position: fixed;
    }

    .lista li {
        font-size: 1em;
        line-height: 22px;
    }

    main {
        width: 90%;
        margin-top: -90px;
        justify-content: center;
        flex-direction: column;
    }

    aside, section {
        width: 100%;
    }

    article {
        width: 100%;
    }

    iframe {
        width: 100%;
        height: 190px;
    }

    #museu, #arte {
        object-fit: cover;
        height: 240px;
    }

    #arte {
        display: none;
    }

    #fotos-galeria a {
        margin: 10px;
    }

    footer img {
        width: 90%;
    }
}