* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lucida Grande', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(255, 249, 242);
    min-width: 360px;
}

header {
    box-sizing: border-box;
    height: 200px;
    background-color: rgba(39,34,23,255);
}

.mobile-menu {
    display: none;
}

nav {
    padding-top: 40px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

li {
    display: inline;
    color: #a86e14;
    list-style: none;
    text-transform: uppercase;
    padding: 0 10px;
    font-size: 0.8em;
}

a {
    text-decoration: none;
}

li:hover {
    color: #d7932e;
}



main {
    width: 80%;
    margin: auto;
    margin-top: -100px;

    display: flex;
    justify-content: space-between;
}

section {
    width: 65%;
}

aside {
    width: 33%;
}

#museu, #arte {
    width: 100%;
    object-fit: cover;
    height: 350px;
}

#visita {
    background-color: #f1e3cd;
}

#visita p {
    margin: 15px 0;
}

#visita h4 {
    color: #a86e14;
}

#num-pessoas {
    width: 40px;
    object-position: right top;
}



article {
    width: 95%;
    margin: 10px auto;
    padding: 15px;
    box-sizing: border-box;
}

aside article {
    width: 100%;
}

h4 {
    color: rgb(64, 139, 64);
    text-transform: uppercase;
}

object {
    width: 420px;
    height: 350px;
}


#rodape {
    text-align: center;
}

#rodape li {
    font-size: 0.75em;
}

#rodape small {
    line-height: 40px;
    color: rgb(47, 47, 47);
}


@media (max-width: 1024px) {
    :root, h4 {
        font-size: 0.9em;
    }

    body {
        overflow-x: hidden;
    }

    nav {
        width: 90%;
        justify-content: space-between;
    }

    .mobile-menu {
        cursor: pointer;
        display: block;
        margin-top: -5px;
    }
    
    .mobile-menu div {
        width: 28px;
        height: 2px;
        background-color: #a86e14;
        margin: 6px;
    }

    nav ul {
        position: absolute;
        transform: translateX(100%);

        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 40px;

        margin-top: 20px;
        padding-top: 30px;
        padding-right: 20px;
        width: 40vw;
        top: 8vh;
        right: 0;
        height: 92vh;
        
        background-color: rgba(39,34,23,255);
    }

    nav li {
        line-height: 22px;
    }

    main {
        width: 90%;
        margin-top: -70px;
        justify-content: center;
        flex-direction: column;
    }
    
    aside, section {
        width: 100%;
    }

    #museu, #arte {
        object-fit: cover;
        height: 270px;
    }

    #arte {
        display: none;
    }

    #rodape img {
        width: 90%;
    }
}